body {
    text-align: center;
    background-color: #5d5656;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(TheBat.jpg);
}

.nav a:hover {
    background-color: #ddd;
    color: black;
  }

h1 {
    background-color: #591010;
    text-align: center;
    padding: 20px; 
    color: #f1f1f1;
}

.content {
    float: left;
    width: 75%;
    padding: 15px;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #690606;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #9e0000;
    color: white;
  }


img {
    padding: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #f60000e2;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(163, 171, 171);
    outline-style: outset;
    outline-color: #b63939;
    outline-width: 7px;
}

table {
    margin: auto;
    width: 60%;
    border: solid black 5px;
    color: rgb(166, 154, 156);
    background-color: rgb(164, 7, 7);
    column-count: 1;
    text-align: left;
    border-collapse: collapse;
    
}

th, td {
    text-align: center;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}

@media only screen and (min-width: 768px) {
    p1 {grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));}
    p2 {grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));}
  }